certifi==2020.6.20
cffi==1.14.3
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
cycler==0.10.0
Cython==0.29.21
fasteners==0.15
future==0.18.2
gitdb==4.0.5
GitPython==3.1.9
glfw==1.12.0
gym==0.17.3
imageio==2.9.0
kiwisolver==1.2.0
matplotlib==3.3.2
monotonic==1.5
numpy==1.19.2
opencv-python==4.4.0.44
pandas==1.1.2
Pillow==7.2.0
pycparser==2.20
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
rainy=0.8.0
rlpy3=2.0.0
scipy==1.5.2
six==1.15.0
smmap==3.0.4
torch==1.5.0
